#{extends 'main.html' /}
#{set title:'CalcMoreTests' /}

<h1>Index Page</h1>


<br/><br/>

<form method="GET" action="saveword">
    word:  <input type="text" name="word" id="word" value="" /><br/>
    cout:  <input type="text" name="count" id="count" value="" />
    <br/>
    <input type="submit"/>
</form>

<p>


    #{if countPairs}
    <b>Words:</b> <br/>
<table>
    #{list items:countPairs, as:'countPair'}
    <tr>
        <td>${countPair}</td>
    </tr>
    #{/ list}
</table>

#{/ if}
<a href="#" id="test">click me!</a>
<script type="text/javascript">
    //  $("#testButton").click({
    $("#testButton").click(function(){
        start();
    })
    function start(){
        $.get("@{Application.firstRequest}",{},function(data){
            if(data=="new"){
                //find a new user
                //
                //var user=@founduser
                //testUser();
                //var result=calculate();
                //
                //sendData(result,founduser,status,tweetID);
                //start();

            }
            else{
                //use @data as a source
                //var result=calculate();
                //
                //sendData(result,data.username,status,tweetID);
                //start();
            }
        })
    }
     

    //  })
    // })
</script>